{% extends 'base.html.twig' %}

{% block body %}

    {% for related in contentRelated %}
        <ul>
            <li>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ related.title }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            [{{ related.url }}]
                        </div>
                        <div class="panel-footer">
                            <div class="pull-left">
                                <a class="btn btn-success" href="#" role="button">+</a>
                                <a class="btn btn-danger" href="#" role="button">-</a>
                            </div>
                            <div class="pull-right">
                                {% if related.eng %}Yes{% else %}[ENG]{% endif %}
                                {% if related.nsfw %}Yes{% else %}[NSFW]{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
