<!DOCTYPE html>
<meta charset="utf-8">
<h2>{% trans %}channel.list{% endtrans %}</h2>
{% if data|length %}
<ul>
    {% for channel in data %}
        <li>{{ channel.name }}</li>
    {% endfor %}
</ul>
{% else %}
{% trans %}channel.list_empty{% endtrans %}
{% endif %}